.center {
  text-align: center;
  margin-top: 200px;
  }

  .mainform {
    margin-top: 10px;
}

body {
  margin: 0;
  padding: 0;
}

#searchbarinput {
  font-family: Arial;
  font-size: 16px;
  margin-top: 2.5px;
  width: 300px;
  height: 2.5em;
}

.submit{
  background-color: #f2f2f2;
  border-radius: 5px;
  border: 0;
  margin-top: 30px;
  font-size: 14px;
  width: 125px;
  height: 40px;
  
}

#google-about {
  padding-top: 10px;
}
  