.center {
  text-align: center;
  margin-top: 200px;
  }

li {
    display: inline;
    font-family: "Arial", "Sans-Serif";
    font-size: 13px;
}

.mainform {
    margin-top: 10px;
}

.top-left {
  padding-left: 15px;
  color: #000;
  opacity: 0.75;
  text-decoration: none;
}


.top-right {
  float: right;
  padding-right: 15px;
  color: #000;
  opacity: 0.75;
  text-decoration: none;

}

body {
  margin: 0;
  padding: 0;
}


#searchbarinput {
  font-family: Arial;
  font-size: 16px;
  margin-top: 2.5px;
  width: 400px;
  height: 2.5em;
  border-radius: 10px;
}

#app-logo {
  height: 30px;
  width: 30px;
  background-image: url('https://ssl.gstatic.com/gb/images/i1_1967ca6a.png');
  background-size: 528px 68px;
  background-position: -132px -38px;
  opacity: .55;
}

.submit{
  background-color: #f2f2f2;
  border-radius: 5px;
  border: 0;
  margin-top: 30px;
  font-size: 14px;
  width: 125px;
  height: 40px;
  
}

#google-about {
  padding-top: 10px;
  font-size: small;
}

#logo {
  border-radius: 50px;
}

.footer-top {
  position: fixed;
  bottom: 35px;
  left: 0px;
  width: 100%;
  background: #f2f2f2;
  border-top: 1px solid #cacaca;
  line-height: 20px;
  padding-bottom: 10px;
}

.footer-item {
  margin-left: 50px;
  font-size: small;
}

.footer-bottom {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: #f2f2f2;
  border-top: 1px solid #cacaca;
  line-height: 0px;
}

.french-link {
  color: #1a0dab;
  text-decoration: none;
}

.footer-bottom-left {
  color: #5f6368;
  padding: 10px;
  text-decoration: none;
  font-size: 14px;
}

.footer-bottom-right {
  display: flex;
  float: right;
  padding: 10px;
  color: #5f6368;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}

.submit:hover {
    background: #f8f8f8;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #c6c6c6;
}